body {
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 0px;
}

table th, table td {
  padding: 4px 8px;
}

table th {
  text-align: center;  
}

table td {
  text-align: center;
}

div.boxed, table.boxed {
  border: 2px solid white;
  border-radius: 16px;
  
  margin: 16px auto;
}

div.boxed, table.boxed th, table.boxed td {
  padding: 4px 8px;
  box-shadow: inset 1px 1px 4px black;
}
 
table.boxed th, table.boxed td {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

table.boxed th:last-child, table.boxed td:last-child {
  border-right: none;
}

table.boxed thead:last-child tr:last-child th, table.boxed thead:last-child tr:last-child td,
table.boxed tbody:last-child tr:last-child th, table.boxed tbody:last-child tr:last-child td,
table.boxed tfoot:last-child tr:last-child th, table.boxed tfoot:last-child tr:last-child td {
  border-bottom: none;
}
 
table.boxed thead:first-child tr:first-child th:first-child, table.boxed thead:first-child tr:first-child td:first-child,
table.boxed tbody:first-child tr:first-child th:first-child, table.boxed tbody:first-child tr:first-child td:first-child,
table.boxed tfoot:first-child tr:first-child th:first-child, table.boxed tfoot:first-child tr:first-child td:first-child {
  border-top-left-radius: 14px;
}

table.boxed thead:first-child tr:first-child th:last-child, table.boxed thead:first-child tr:first-child td:last-child,
table.boxed tbody:first-child tr:first-child th:last-child, table.boxed tbody:first-child tr:first-child td:last-child,
table.boxed tfoot:first-child tr:first-child th:last-child, table.boxed tfoot:first-child tr:first-child td:last-child {
  border-top-right-radius: 14px;
}

table.boxed thead:last-child tr:last-child th:first-child, table.boxed thead:last-child tr:last-child td:first-child,
table.boxed tbody:last-child tr:last-child th:first-child, table.boxed tbody:last-child tr:last-child td:first-child,
table.boxed tfoot:last-child tr:last-child th:first-child, table.boxed tfoot:last-child tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}

table.boxed thead:last-child tr:last-child th:last-child, table.boxed thead:last-child tr:last-child td:last-child,
table.boxed tbody:last-child tr:last-child th:last-child, table.boxed tbody:last-child tr:last-child td:last-child,
table.boxed tfoot:last-child tr:last-child th:last-child, table.boxed tfoot:last-child tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}

.title {
  background-color: white;
  color: black;
}

.white {
  background-color: tan;
  color: black;
}

.red {
  background-color: darkRed;
}

.green {
  background-color: darkGreen;
}

.sortable {
  padding-right: 16px;
  background-image: url('asset/sortable.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 16px 16px;
}

.focusable {
}

.focusable:hover {
  background-color: gold !important;
  color: black;
  cursor: pointer;
}

.focusable:active {
  box-shadow: inset 0px 2px 8px black;
}

.disabled {
  background-color: black !important;
  color: white;
}

.disabled:hover {
  background-color: black !important;
  cursor: default;
}

span.highlight {
  display: inline-block;
  padding-left: 20px;
  background-image: url('asset/icon-mark.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-weight: bold;
}

.icon-play {
  padding-left: 20px;
  background-image: url('asset/icon-play.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.icon-back {
  padding-left: 20px;
  background-image: url('asset/icon-back.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.icon-board {
  padding-left: 20px;
  background-image: url('asset/icon-board.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

span.icon-play, span.icon-back, span.icon-board {
  display: inline-block;
}


